@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --danger-light: #ffc2d2;
  --success-light: #d4edda;
  --primary-dark: #0b2e13;
  --warning-light: #fff3cd;
  --dager-light: #f8d7da;
  --warning: #ffbf00;
  --off-white: #f2f0ef;
  --success: #28a745;
  --red-light: #fff1f1;
  --red-mid: #ffc2c2;
  --red-intermediate: #ff8383;
  --red-intense: #ff4545;
  --red-very-intense: #ff0f0f;
}

body {
  background-color: #f4f4f4;
  width: 100%;
  height: 100dvh;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}
/* HEAD STYLING */
.head {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border-bottom: solid 0.5px var(--primary-dark);
  padding: 2rem 0.3rem;
}

.head .logo {
  display: flex;
  gap: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

.head-icon {
  height: auto;
  width: auto;
  background-color: var(--primary-dark);
  border-radius: 5px;
}

.head-icon .material-symbols-outlined {
  color: white;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 0.2rem;
}

.head .details {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo .icon-txt h3 {
  text-align: start;
  color: var(--primary-dark);
  font-weight: 600;
}
.icon-txt h5 {
  font-weight: 300;
  font-size: 0.9rem;
}

.details .weeks {
  background-color: var(--warning);
  height: auto;
  width: auto;
  padding: 6px 12px;
  border-radius: 12px;
}

.details .weeks p {
  font-weight: 600;
  color: var(--primary-dark);
}

/* END HEAD STYLING */

.summary-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0.5rem 0.5rem;
}

/* SUMMARY CARDS */
.summary-card {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in, transform 0.3s ease-in;
}

.summary-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  transform: translateY(-3px);
}

.summary-card h4 {
  color: var(--primary-dark);
  font-weight: 200;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.summary-card .amount {
  color: var(--primary-dark);
  font-weight: 600;
  font-size: 1.5rem;
}

#available-funds .summary-card-icon {
  background-color: var(--primary-dark);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#available-funds,
#interest-earned {
  background-color: var(--success-light);
}

#contributions {
  background-color: white;
}

#loans-issued {
  background-color: var(--warning-light);
}

#contributions .summary-card-icon {
  background-color: var(--off-white);
  color: rgb(0, 0, 0);
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loans-issued .summary-card-icon {
  background-color: var(--warning);
  color: rgb(0, 0, 0);
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#interest-earned .summary-card-icon {
  background-color: var(--success);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-card .material-symbols-outlined {
  font-size: 2rem;
  font-weight: 100;
}

/* END SUMMARY CARDS */

/* OUTSTANDING LOANS CONTAINER */

.outstanding-loans {
  margin-top: 2rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border: solid 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--red-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outstanding-loans .outstanding-loans-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.outstanding-loans-container .warning-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--red-mid);
  border-radius: 50%;
}

.outstanding-loans-txt h4 {
  color: var(--red-very-intense);
  font-weight: 400;
}

.outstanding-loans-txt p {
  margin-top: 0.2rem;
  font-weight: 400;
}

.loan-details {
  border: 0.5px solid var(--red-very-intense);
  padding: 6px 12px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  font-size: small;
  font-weight: 400;
  color: var(--red-very-intense);
}

.loan-details .material-symbols-outlined {
  font-size: smaller;
}

/* END OUTSTANDING LOANS */

/* WEEK CYCLE */

.cycle {
  margin-top: 1.5rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border: solid 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cycle .cycle-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.cycle-container .calendar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--off-white);
  border-radius: 25%;
}

.cycle-txt h4 {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.cycle-txt p {
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.cycle .progress {
  margin-top: 0.5rem;
  height: 10px;
  width: 100%;
}

.week-details {
  border: 0.5px solid rgb(0, 0, 0);
  padding: 6px 12px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  font-size: small;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.week-details .material-symbols-outlined {
  font-size: smaller;
}

/* END WEEK CYCLE */

/* MANAGEMENT SECTION  */

.management-section {
  margin-top: 2rem;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  width: auto;
}

.management-section .members {
  border: solid 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.member-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-head .add-member {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark);
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.member-list {
  margin-top: 1rem;
}

.member-list ul {
  margin-top: 1.5rem;
}

.member-search {
  display: flex;
  gap: 1rem;
}

.management-section .loan-management {
  border: solid 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

table {
  width: 400px;
  height: 100px;
  overflow-y: scroll;
}

table th,
table td {
  text-align: center;
}

table .material-symbols-outlined {
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  border-radius: 35%;
  padding: 5px 5px;
}

table .material-symbols-outlined#check {
  background-color: var(--success-light);
  color: var(--success);
}

table .material-symbols-outlined#schedule {
  background-color: var(--warning-light);
  color: var(--warning);
}

table .material-symbols-outlined#close {
  background-color: var(--dager-light);
  color: var(--red-very-intense);
}
